/* Web of .css
https://www.w3schools.com/css/css_text_shadow.asp
*/

:root {
    --paleta0: #3498db;
    --paleta1-1: #bacca4;
    --paleta1-2: #7dad93;
    --paleta1-3: #018790;
    --paleta1-4: #0a516d;
    --paleta1-5: #2b2726;
    --paleta2-1: #ecc039;
    --paleta2-2: #de4f15;
    --paleta2-3: #ebe7b7;
    --paleta2-4: #029b99;
    --paleta2-5: #001f21;
    --paleta3-1: #6ea49b;
    --paleta3-2: #d9d0ac;
    --paleta3-3: #6b8f0b;
    --paleta3-4: #7d3f60;
    --paleta3-5: #372b2e;
    --paleta4-1: #e9f5b3;
    --paleta4-2: #b3f5b4;
    --paleta4-3: #cdf5b2;
    --paleta4-4: #f5f0b3;
    --paleta4-5: #b3f5ca;
}


.subtitle, .date, .quarto-title-authors, .quarto-title-affiliation {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 0 0 10px white; /* 2px 2px 2px rgba(0, 0, 0, 0.6); */
}

body .reveal h1.title {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), 0 0 10px white;
}

#tope {
 top: 0;
 margin-top: -120px;
}

.box-out {
  background-color: transparent;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 3px solid #000;
  opacity: 100%;
}
/* Draw a black box, to use it put in your .qmd, for example:

::: {.absolute top="60%" left="50%"}
::: {.box-out style="color: #b00000; border: 4px solid;  height: 100px; width: 950px"}
:::
:::

::: {.absolute top="33%" left="45%"}
::: {.box-out style="border-radius: 20px; border: 3px solid #40E0D0;  height: 100px; width: 340px; opacity: 65%"}
:::
:::
*/

.box {
    transform: translate(-50%, -50%); /* Optional: Center the box */
    border-radius: 15px;
    background-color: #40E0D0;
    opacity: 70%;
}
/* Draw a box,
   * border-ratius: 0px para esquinas, 15 para redondeados, 50 para circulos
   * Centrado en top y left
   * Ancho= width, y alto=height
   * Luego color y opacidad

::: {.absolute top="10%" left="10%"}
::: {.box style="width: 400px; height: 100px; background-color: #a298db; opacity: 40%"; border-radius: 10px}
:::
:::
*/

.box-full {
  width: 100vw; /* 100% of the view width */
  height: 100vh; /* 100% of the view height */
  background-color: #5ab8db; /* Set the background color */
  border-radius: 15px; /* Set the border radius for rounded corners */
  transform: translate(-50%, -50%); /* Optional: Center the box */
  opacity: 15%;
}

/* Draw a rounded-box que cambia de tamaño aumentando la fuente
::: {.absolute top="50%" left="50%"}
::: {.box-full}
:::
:::
*/

.button {
    display: inline-block;
    padding: 1px 1px;
    text-align: center;
    text--decoration: none;
    color: #ffffff;
    background-color: #c2c7c7;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.button:hover {
    background-color: #99c4c4;
}
/* Luego en el .qmd pondremos:

::: {style="font-size: 0.2em; text-align: center"}
<a href="https://www.gtexportal.org/home/tissueSummaryPage" class="button">GTEx statistics</a>
<br>
<br>
<a href="https://www.gtexportal.org/home/samplingSitePage" class="button">GTEx tissues</a>
:::

or:
<a href="https://www.google.com" class="button">Google</a>
*/

.table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    background-color: #f2f2f2;
  }
}

.table-hover:hover {
    /* Change the background color on hover */
    background-color: #f5f5f5;
}

/*
::: {style="font-size: 0.75em"}

| Tissue          | snps       | weight       |
|:----------------|:----------:|:------------:|
| Artery_Aorta    | rs2269648  | 0.01241463   |

: {.striped .hover}

:::

*/
